<?xml version="1.0" encoding="utf-8"?>
<packages>
  <connectionStrings>
  <add name ="=ConStr"
      connectionString="System Data Source=.SqlExpress;
         Initial Catalog=CuentasBD; Integrated Security = True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
</packages>